body{
  font-family: "HiraKakuPro";
}

$pc:1023px;
$sp:767px;

@mixin tab{
  @media (max-width:$pc){
    @content;
  }
}

@mixin tab-only{
  @media screen and (min-width:768px) and (max-width: $pc){
    @content;
  }
}

@mixin sp{
  @media (max-width:$sp){
    @content;
  }
}


.header{
  height: auto;
  width: 100%;
  float: right;
}
.header__wrapper{
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  width: 960px;
  margin-right: auto;
  margin-left: auto;

  @include tab{
    width:95%;
  }
}

header nav {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.8;
  /* 3. スライドメニューの場合 */
  // display: block;
  // right: -100%;
  // transition: right .5s;
  /* ここまで */
}
/* 3. スライドメニューの場合 */
header nav.sp_open {
  right: 0;
}
/* ここまで */
header nav ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header nav ul li a {
  display: block;
  padding: 25px;
  border-radius: 5px;
  color: #666;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.close {
  position: absolute;
  top: 20px;
  right: 22px;  
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;


  & .batsu{
    display: block;
    width: 18px;/*枠の大きさ*/
    height: 18px;/*枠の大きさ*/
    position: relative;
    }

  .batsu::before, .batsu::after{
    content: "";
    display: block;
    width: 100%;/*バツ線の長さ*/
    height: 2px;/*バツ線の太さ*/
    background: #000;
    transform: rotate(45deg);
    transform-origin:0% 50%;
    position: absolute;
    top: calc(14% - 5px);
    left: 14%;
    }

  .batsu::after{
    transform: rotate(-45deg);
    transform-origin:100% 50%;
    left: auto;
    right: 14%;
  }
}

.noscroll{
  overflow: hidden;
}

.mainvisual{
  height: 620px;
  background-position: center center;
  background-size: cover;

  &__wrapper{
    padding-top: 209px;
    text-align: center;

    @include tab{
      max-width: 317px;
      margin-right: auto;
      margin-left: auto;
      width: 100%;

      .mainvisual-title{
        &  img{
          width:50%;
        }
      }
    }
  }

  &__text{
    padding-top: 50px;
    font-size: 1.375rem;
    letter-spacing: 0.04em;
    color: #FFFFFF;
  }
}

.section__wrapper{
  padding-top: 125px;
  text-align: center;

  @include sp{
    margin-right: 4%;
    margin-left: 4%;
  }
}

.section__title{
  font-family: 'Poppins', sans-serif;  font-size: 2.5rem;
  padding-bottom: 35px;
  position: relative;
  
  &::before{
    content: '';
    position:absolute;
    left: 50%;
    bottom: 0px;
    display: inline-block;
    width: 35px;
    height: 1px;
    background-color: #000000;
    -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  }
}

.section__text{
  padding-top: 35px;
  font-size: 1rem;
  line-height: 1.968;
  letter-spacing: 0.08em;
  color: #000000;
  padding-bottom: 65px;

  & br{
    @include sp{
      display: none;
   }
  }
}

.concept__img{
  text-align: center;
  position: relative;
  z-index: 10;
  margin-right: auto;
  margin-left: auto;

  & img{
    @include tab{
      width: 92%;
      height: auto;
    }
  }
}

.concept__background{
  background-color: #EDEDED;
  height: 285px;
  position: relative;
  bottom: 190px;
  margin-bottom: -190px;

  @include sp{
    height: 210px;
    bottom: 140px;
    margin-bottom: -140px;
  }
}

.grid-layout{
  display:grid;
  grid-template-columns:480px 480px;
  grid-template-rows:715px 330px 585px 130px;
  max-width: 960px;
  justify-content: center;
  width: 90%;
  margin: 0 auto;

  &__img{
    width: 100%;
  }

  @include tab{
    display: block;
  }

  @include tab-only{
    margin-right: 10%;
    margin-left: 10%;
    
  }
}

.grid-item{
  text-align: left;
  max-width: 420px;
  
  &__title{
    font-family: 'Poppins', sans-serif;  
    font-size: 1.875rem;
    font-weight:500;
    padding-top: 35px;
    padding-bottom: 25px;
    }

    &__text{
      font-size: 1rem;
      line-height: 1.968;
      letter-spacing: 0.08;
    }
}


.gift{
  grid-row:1 / 2;
  grid-column:1 / 2;
  margin-right: 60px;
  @include tab{
    margin-right: auto;
    margin-left: auto;  
    text-align: center;
  }
}

.decolation{
  padding-top: 130px;
  grid-row:1 / 3;
  grid-column:2 / 3;
  margin-left: 60px;

  @include tab{
    padding-top: 120px;
    margin-left: 17.333%;
  }
}

.wedding{
  grid-row:2 / 4;
  grid-column:1 / 2;
  margin-right: 60px;

  @include tab{
    padding-top: 130px;
  }
}

.for-yourself{
  grid-row: 3 / 5;
  grid-column:2 / 3;
  margin-left: 60px;

  @include tab{
    padding-top: 120px;
    padding-bottom:110px;
    margin-left: 17.333%;
  }
}

.grid-layout{
  @include tab{
    text-align: center;
  }
}

.grid-layout__img{
  @include tab{
    display: none;
  }
}

.grid-layout__img-sp{
  display: none;

  @include tab{
    width: 80%;
    display: block;
  }
  @include sp{    
    width: 100%;
    text-align: left;
  }

  & img{
    width:100%;

    @include sp{
      max-width: 590px;
    }
  }
}

.florist .section__wrapper{
  background-color: #EDEDED;
  padding-top: 135px;
  margin-right: auto;
  margin-left: auto;
  @include sp{
    padding-right: 4%;
    padding-left: 4%;
  }

  & .section__text{
    padding-bottom: 260px;
  }
}

.grid-layout__img{
  max-width: 100%;
  img{
    width: 100%;
  }
} 

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  position: relative;
  bottom:190px;

  @include tab{
    display: block;
  }
}

.cards--col3 {
  margin-bottom: -60px;
}

.cards--col3 > .cards__item {
  width: 30.707%;
  margin-right: 3.43902%;
  margin-bottom: 30px;

  @include tab{
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  }
  @include sp{
    width:96%;
  }
}

.cards--col3 > .cards__item:nth-of-type(3n) {
  margin-right: 0;
  @include tab{
    margin-right: auto;
  }
}

.card__body{
  width: 100%;

  .card__title{
    padding-top: 30px;
    padding-bottom: 24px;
    font-size: 1.875rem;
    font-family: 'Poppins', sans-serif; 
    font-weight:500; 
  }

  .card__text{
    font-size: 1rem;
    line-height: 1.968;
    letter-spacing: 0.08em;

    @include tab-only{
      width:80%;
      margin-right: auto;
      margin-left: auto;
    }

    @include sp{
      text-align: left;
    }    
  }
}

.info{
  .section__wrapper{
    padding-top: 0;
  }
  .section__title{
    margin-top: -30px;
  }
}

.card__img{
  @include tab{
    display: none;
  }
}

.card__img-sp{
  display: none;
  
  @include tab{
    display: block;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  @include sp{
    width:100%;
  }
}

.info__wrapper{
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  padding-bottom: 55px;

  @include tab{
    display: block;
    text-align: center;
    padding-bottom: 0;

    .info__img-item{
      max-width: 100%;
    } 
    img{
      width: 100%;
    }
  }
}

.horizontal-table{
  padding-left: 20px;
  padding-top: 40px;
  text-align: left;

  &__inner{
    border-spacing: 20px;
    margin-right: auto;
    margin-left: auto;
  }

  &__header{
    padding-right: 30px;
    padding-top: 7px;
    vertical-align: top;
  }

  &__text{
    line-height: 1.968;
    padding-left: 30px;
    padding-top: -3px;
    vertical-align: top;
    border-left: 1px solid #A0A0A0;
  }

  @include sp{
    
  }
}

.cta{
  background-position: center center;
  background-size: cover;

  &__bg-mask{
   height: 100%;
  background: rgba(255,255,255,0.5);
  }

  & .section__wrapper{
    margin-top: 120px;
    padding-top: 75px;

  }
}

.cta__btn{
  text-align: center;
  padding-bottom: 70px;
}

.btn{
  display: inline-block;
  width: 300px;
  max-width: 100%;
  padding: 24px 10px;
  background-color: #FFFFFF;
  border: 1px solid #A0A0A0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  color: #000000;
  font-size: 1.25rem;
  letter-spacing: 0.08em;
  text-align: center;
  text-decoration: none;
  transition: .25s;
  line-height: 1.575;

  & img{
    padding-right: 15px;
    vertical-align: middle;
    padding-bottom: 3px;
  }
}

.footer{
  height: 95px;

  &__wrapper{
    text-align: center;
    padding-top: 40px;
  }
  &__text{
    font-size: 1rem;
    letter-spacing: 0.08em;
  }
}